# Application Configuration
TRUSS_ENVIRONMENT=dev

# Database Configuration
TRUSS_DATABASE_HOST=localhost
TRUSS_DATABASE_PORT=5432
TRUSS_DATABASE_USER=postgres
TRUSS_DATABASE_PASSWORD=postgres
TRUSS_DATABASE_DATABASE=truss_dev
TRUSS_DATABASE_POOL_SIZE=10

# NATS Configuration
TRUSS_NATS_PORT=4222
TRUSS_NATS_MGMT_PORT=8222
